@font-face {
  font-family: "iconfont"; /* Project id 3480569 */
  src: url('iconfont.woff2?t=1657372566342') format('woff2'),
       url('iconfont.woff?t=1657372566342') format('woff'),
       url('iconfont.ttf?t=1657372566342') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanzan:before {
  content: "\e65a";
}

.icon-shoucang:before {
  content: "\e86d";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-shoucang1:before {
  content: "\e625";
}

.icon-zan1:before {
  content: "\e876";
}

.icon-qianjin-shi:before {
  content: "\e654";
}

.icon-tupian-jiazaishibai:before {
  content: "\e813";
}

.icon-close:before {
  content: "\e7fc";
}

.icon-sousuo:before {
  content: "\e611";
}

.icon-gengduo:before {
  content: "\e6ae";
}

.icon-ffanhui-:before {
  content: "\e6b1";
}

.icon-wodezuopin:before {
  content: "\e680";
}

.icon-zan:before {
  content: "\e634";
}

.icon-xiaoxi2:before {
  content: "\e62d";
}

.icon-wodeguanzhu:before {
  content: "\e8bc";
}

.icon-liulanlishi:before {
  content: "\e67a";
}

.icon-shipinbofang:before {
  content: "\e600";
}

.icon-home:before {
  content: "\e768";
}

.icon-wode:before {
  content: "\e633";
}

.icon-wode1:before {
  content: "\e632";
}

.icon-Home:before {
  content: "\e66b";
}

.icon-xiaoxi:before {
  content: "\e616";
}

.icon-xiaoxi1:before {
  content: "\e601";
}

.icon-shipin:before {
  content: "\e609";
}

