@import '@scss/hairline.scss';
.root {
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    width: 100%; 
    background-color: #fff;
    @include hairline('bottom');
  
    :global {
      .left {
        padding: 0 12px 0 16px;
        line-height: 46px;
      }
      .icon {
        font-size: 16px;
      }
  
      .title {
        flex: 1;
        margin: 0 auto;
        color: #323233;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
      }
  
      .right {
        display: block;
        padding-right: 16px;
        min-width:30px;
        // position: absolute;
        // right: 16px;
      }
    }
  }
  